{% extends 'base.html' %}

{% block title %}Edit User Form for {{user.get_full_name()}}{% endblock %}

{% block content %}
    <h1 class="display-1 text-center">Edit User</h1>
    <form action="/users/{{user.id}}/edit" method="POST">
        <label for="first-name-field">First Name</label>
        <input type="text" id="first-name-field" name="first_name" value="{{user.first_name}}"/>
        <label for="last-name-field">Last Name</label>
        <input type="text" id="last-name-field" name="last_name" value="{{user.last_name}}"/>
        <label for="image-url-field">ImageURL</label>
        <input type="text" id="image-url-field" name="image_url" value="{{user.image_url}}"/>
        <a href="/users/{{user.id}}">Cancel</a>
        <button type="submit">Save Changes</button>
    </form>
{% endblock %}