{% extends 'base.html' %}

{% block title %}Details on User {{user.first_name}} {{user.last_name}}{% endblock %}

{% block content %}
    <img src={{user.image_url}} alt="{{user.first_name}} {{user.last_name}}'s profile picture"/>
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <form>
        <button formaction="/users/{{ user.id }}/edit" formmethod="GET">Edit User</button>
        <button formaction="/users/{{ user.id }}/delete" formmethod="POST">Delete User</button>
    </form>
{% endblock %}